@*@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
*@

<h1>Le mie pizze</h1>
<table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
        <tr>
            <th>Foto</th>
            <th>Nome</th>
            <th>Descrizione</th>
            <th>Prezzo</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <div class="d-flex align-items-center">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/Pizza_marinara.jpg/260px-Pizza_marinara.jpg"
                         alt=""
                         style="width: 200px; height: 200px"
                </div>
            </td>
            <td>
                <p class="fw-normal mb-1">Marinara</p>
            </td>
            <td>
                <p class="fw-normal mb-1">pomodoro, aglio, origano, olio.</p>
            </td>
            <td>
                <p class="fw-normal mb-1">5 euro</p>
            </td>
         
        </tr>
        <tr>
            <td>
                <div class="d-flex align-items-center">
                    <img src="https://www.silviocicchi.com/pizzachef/wp-content/uploads/2015/03/d1.jpg"
                         alt=""
                         style="width: 200px; height: 200px"
                </div>
            </td>
            <td>
                <p class="fw-normal mb-1">Diavola</p>
            </td>
            <td>
                <p class="fw-normal mb-1">salame piccante, pomodoro, mozzarellao.</p>
            </td>
            <td>
                <p class="fw-normal mb-1">7 euro</p>
            </td>

        </tr>
        <tr>
            <td>
                <div class="d-flex align-items-center">
                    <img src="https://assets.tmecosys.com/image/upload/t_web767x639/img/recipe/ras/Assets/5802fab5-fdce-468a-a830-43e8001f5a72/Derivates/c00dc34a-e73d-42f0-a86e-e2fd967d33fe.jpg"
                         alt=""
                         style="width: 200px; height: 200px"
                </div>
            </td>
            <td>
                <p class="fw-normal mb-1">Margherita</p>
            </td>
            <td>
                <p class="fw-normal mb-1">pomodoro, mozzarella, basilico.</p>
            </td>
            <td>
                <p class="fw-normal mb-1">3 euro</p>
            </td>

        </tr>
     
    </tbody>
</table>